<ion-header>
</ion-header>

<ion-content>
  <div *ngIf="selectedGame === 'definition'" class='img' routerLink="/definition"></div>
  <div *ngIf="selectedGame === 'microscope'" class='img' routerLink="/microscope">Microscope</div>
  <div *ngIf="selectedGame === 'tourisme'" class='img' routerLink="/tourisme"></div>
  <div *ngIf="selectedGame === 'mosaique'" class='img' routerLink="/mosaique"></div>
  <div *ngIf="selectedGame === 'zoologie'" class='img' routerLink="/zoologie"></div>
  <div *ngIf="selectedGame === 'tour bonus'" class='img' routerLink="/tourbonus">Tour bonus</div>
</ion-content>
