.zoo    {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    background-size: 100%;
    background-color: --primary;
    fill: --secondary;
    color: --secondary;
}
.def    {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    background-size: 100%;
    background-color: --primary;
    fill: --secondary;
    color: --secondary;

}
.tourisme    {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    background-size: 100%;
    background-color: --primary;
    fill: --secondary;
    color: --secondary;

}