.color  {
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-color: #ffffff;
}
.btn-back   {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.flex   {
    display: flex;
    flex-direction: column;
}
.overflow   {
    width: 50%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

}
