<ion-header>
</ion-header>

<ion-content>
  <div class="div-container theme">
    <div class="div-div-buttons" [hidden]="!etape1">
      <div class="div-buttons" *ngFor="let person of persons">
        <button (click)="choose(person)" class="choice">{{person.libelle}}</button>
      </div>
    </div>

    <div [hidden]="!etape2">
      <div class="mosaiqueImage" [ngStyle]="{'height': heightPicture +'px', 'width': widthPicture +'px'}">
        <ion-img [ngStyle]="{'height': heightPicture +'px', 'width': widthPicture +'px'}" [src]=imgPerson></ion-img>
        <div [ngStyle]="{'margin-top': '-' + heightPicture +'px' }">
          <div *ngFor='let x of table; let index_x = index;'>
            <div *ngFor="let y of x; let index_y = index;">
                <div *ngIf="y" class="block" [ngStyle]="{'height': height +'px', 'width': width +'px', 'margin-left':  width*index_x +'px', 'margin-top':  height*index_y +'px' }"></div>
                <div *ngIf="!y" class="primeblock" [ngStyle]="{'margin-left':  width*index_x +'px', 'margin-top':  height*index_y +'px' }"></div>
           </div>
          </div>
        </div>
      </div>

    </div>

    <div class="div-winner" style="height: 100%" [hidden]="g || !etape2 || seconds == 0">
      <ion-button class="button2"  (click)="go()">Go!</ion-button>
    </div>
    <h1 [hidden]="!g || seconds == 0">Il reste {{seconds}} secondes !</h1>
  

    <div class="div-winner" style="height: 100%" [hidden]="seconds >0">
      <h1>C'est terminé !</h1>
      <ion-button class="button2" routerLink="/vinner">Désigner gangnant !</ion-button>
    </div>
 
  </div>

</ion-content>