ion-item  {
   max-width: 200px;
   ion-label{
    height: 28px;
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
   }
}

.select-container {
   display: flex;
   justify-content: center;
   align-content: center;
}
.btn-select {
   position: fixed;
   right: 10px;
   bottom: 10px;
}