/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

app-root {
    background-color: #f8eb3c !important;
    color: #ee7406 !important;
}

.choice {
    height: 28px;
    width: 150px;
    color: #f8eb3c !important;
    background-color: #ee7406 !important;
    font-size: 15px;
    border: 3px solid #f8eb3c !important;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.choice-little   {
    height: 40px;
    width: 70px;
    color: #f8eb3c !important;
    background-color: #ee7406 !important;
    font-size: 15px;
    border: 3px solid #f8eb3c !important;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
}
.div-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.div-div-buttons    {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

}