<ion-header [translucent]="true">
  </ion-header>
  
  <ion-content [fullscreen]="true">
      <div class="container">
          <h1><b>Qui</b> veut jouer avec moi ?</h1>
          <div class="input-container">
            <input style="color: #ee7406; font-weight: bold;" [(ngModel)]="test" type="text">
            <ion-button (click)="addPlayer()">+</ion-button>
          </div>
          <div class="list-container">
            <div class="list" *ngFor="let player of players, index as i">
              <div class="span-container">
                <span ><b>{{player.name}}</b></span><button style="background-color: #f8eb3c; color: #ee7406; border-color: 1px,#ee7406;" (click)='deletePlayer(i)'>X</button>
              </div>
            </div>
          </div>
        <div class='action-container'>
          <a class="regles" (click)="presentPopover()"><span style='font-size: 3rem;'>?</span></a>
          <ion-button routerLink="/explication" [hidden]="!isOnePlayerOrMore" class="go" ></ion-button>
        </div>
      </div>
  </ion-content>
  