<ion-header [translucent]="true">
  </ion-header>
  
  <ion-content [fullscreen]="true">
      <div class="container">
          <h1><b>Qui</b> veut jouer avec moi ?</h1>
          <div class="input-container">
            <input style="color: black;" [(ngModel)]="test" type="text">
            <ion-button (click)="addPlayer()">+</ion-button>
          </div>
          <div class="list-container" *ngFor="let player of players">
              {{player.name}}
          </div>
        <div class='action-container'>
          <a class="regles" (click)="presentPopover()"><h1>?</h1></a>
          <ion-button routerLink="/jeu" class="go" ></ion-button>
        </div>
      </div>
  </ion-content>
  