.container  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}
//buttons
.btn-regles  {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.btn-accueil   {
    border-radius: 12rem;
    height: 27px;
    width: 60px;
}
.btn-option {
    position: fixed;
    top: 10px;
    right: 10px;
}
.btn-go {
    right: 10px;
    bottom: 10px;
    height: 35px;
    position: fixed;
}
.btn-add-del    {
    margin-left: 5px;
    border-radius: 13rem;
    -webkit-border-radius: 13rem;
    -moz-border-radius: 13rem;
    -ms-border-radius: 13rem;
    -o-border-radius: 13rem;
}
//list
.list-container {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.list   {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.action-container  {
    display: flex;
    align-items: flex-end;
}
.scrolling-list {
    overflow: scroll;
      // Again, this is where the magic happens
    -webkit-overflow-scrolling: touch;
    position: relative;
}
span-container  {
    display: flex;
    overflow: scroll;
    height: 60px;
    width: 60px;
}