.container  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

.list-container {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.list   {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.go {
    right: 0;
    position: fixed;

}

.action-container  {
    display: flex;
    align-items: flex-end;
}
.scrolling-list {
    overflow: scroll;
      // Again, this is where the magic happens
    -webkit-overflow-scrolling: touch;
    position: relative;
}

input   {
    background-color: #f8eb3c;
    border-bottom-color: #ee7406;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color:#ee7406;

}
span-container  {
    display: flex;
    overflow: scroll;
    height: 60px;
    width: 60px;
}